{% extends "_base.html" %}

{% block content %}

<div class="text-center">
  <h1>Order lines list</h1>
</div>


<div>
  {% for order_line in orderitems %}
    <h4 class="well"><strong>{{order_line.order_line_line_no}}</strong> - <em>{{order_line.product_name}}</em></h4>
  {% endfor %}
</div>

{% endblock %}