{% extends "_base.html" %}

{% block content %}

<div class="text-center">
  <h1>Products list</h1>
</div>


<div>
  {% for product in products %}
    <h4 class="well"><strong>{{product.name}}</strong>  <em>(id:{{product.id}})</em></h4>
  {% endfor %}
</div>

{% endblock %}