{% extends "_base.html" %}

{% block content %}

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

}
</style>


<div class="text-center">
  <h1>Report1 (sales by period)</h1>
</div>

<br>

<form method="post">
  <div class="form-group">
    <input name="startdate" class="form-control input-lg" type="date" placeholder="Start date" required>
    <input name="enddate" class="form-control input-lg" type="date" placeholder="End date" required>
  </div>
  <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit">
</form>

<br>
<hr>

{% if error %}
  {{error}}
{% endif %}

{% if reportdata %}
<div>
  <div class="text-center">
  <h5>Report result</h5>
{% if startdate %}
  {{startdate}} - {{enddate}}
{% endif %}

<div>
  <table>
  <tr>
    <th>Order date, time</th>
    <th>Order No</th>
    <th>Order sum</th>
    <th>Item details</th>
  </tr>
  {% for orderdataelement in reportdata %}
    {% set order = orderdataelement[0] %}
    {% set ordersum = orderdataelement[1] %}
      <tr>
    <th>{{order.created_date.strftime('%Y-%m-%d')}}</th>
    <th>{{order.number}}</th>
    <th>{{ordersum}}</th>
    <th>--</th>
      </tr>
          {% for order_line in order.order_lines %}
                <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>{{order_line.order_line_line_no}}.  {{order_line.product_name}} , {{order_line.product_price}} *  {{order_line.amount}} = {{order_line.product_price*order_line.amount}}</td>
                </tr>
          {% endfor %}
  {% endfor %}
    <th>TOTAL:</th>
    <th></th>
    <th>{{report_total}}</th>
    <th></th>

   </table>
  </div>
{% endif %}

{% endblock %}