{% extends "_base.html" %}

{% block content %}

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

}
</style>


<div class="text-center">
  <h1>Report2 (Top 100)</h1>
</div>

{% if error %}
  {{error}}
{% endif %}

{% if reportdata %}
<div>
  <div class="text-center">
  <h5>Report result</h5>
<div>
  <table>
  <tr>
    <th>Product name</th>
    <th>Order No</th>
    <th>Price</th>
    <th>Date</th>
  </tr>
  {% for orderitem in reportdata %}
      {% set order_number = orderitem[0] %}
      {% set order_created_date = orderitem[1] %}
      {% set product_name = orderitem[2] %}
      {% set amount = orderitem[3] %}
      <tr>
    <td>{{product_name}}</td>
    <td>{{order_number}}</td>
    <td>{{amount}}</td>
    <td>{{order_created_date.strftime('%Y-%m-%d')}}</td>
      </tr>

  {% endfor %}

   </table>
  </div>
{% endif %}

{% endblock %}